   
    @font-face{
        font-family: montserrat;
        src: url("./Fonts/Montserrat/Montserrat-Regular.ttf");
}
#page1{
    margin-right: 10%;
    margin-left: 10%;
}

header{
    /*height: auto;
    width: 1706px;*/
    display: -webkit-flex;
    display: flex;
}
section{
    font-family: montserrat;
    color: white;
    height: auto;
    
}
@media all and (max-width: 750px)
{
    section{width: auto;
            height: auto;
            flex-direction: column;}
}

section p{
    font-size: 41px;
}
@media all and (max-width: 960px)
{
    section p{font-size: large;}
}
section .sous, .sous2, .sous3, .sous4{
    font-size: 17px;
}
.titre{
    width: 1485px;
    /*position: static;
    margin-left: 185px;*/
}
.burger{
    /*position: absolute;*/
    height: 1.5em;
    right: 190px;
    margin-top: 30px; 
    /*margin-left: 1350px;*/
}
@media all and (max-width: 1740px)
{
    .titre{
        margin-left: 5px;}
    .burger{
        }
}
.grande{
    position: static; 
    filter: contrast(125%);
    width: 100%;
}
#grande2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mots{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
}
.mots2{
    position: absolute;
    margin-top: 200px;
    font-size: 30px;
    font-weight: bold;
    border: 5px white solid;
}
.banniere{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
@media all and (max-width: 960px)
{
    .banniere{width: 100%;
             height: 20%;}
    .grande{height: 100%;
            width: 100%;}
    .mots{font-size: 1.6em;
         text-align: center;
          margin-top: 40px;}
    .mots2{font-size: small;
           border: 2px white solid;
            margin-top: 90px;}
    .titre{margin-left: 5px;}
    .burger{right: 30px;}
}
@media all and (max-width: 1530px)
{
    .mots{text-align: center;}
}
#photo1-2{
    display: flex;
    justify-content: center;
    width: 100%;
       
}
#photo1, #photo2{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
@media all and (max-width: 960px)
{
    #photo1-2{flex-direction: column;
              width: 100%;
              height: auto;}
    
}
.droite, .gauche{
    width: 100%;
    height: auto;
    
}
.p1{
    position: absolute;
    top: auto;
}
.p2{
    position: absolute;
    top: auto;
    margin-bottom: 50px;
}
.sous, .sous2{
    position: absolute;
    bottom: 40%;
}
.cadre1, .cadre2{
    position: absolute;
}
@media all and (max-width: 960px)
{
    .droite, .gauche{width: auto;}
    .cadre1, .cadre2{width: 30%;
                    height: 45%;}
    .p1{font-size: large;
        text-align: center;
        position: absolute;}
    .sous{font-size: 5px;}
}
#photo3-4{
    display: flex;
    justify-content: center;
    width:  100%;
    
}
#photo3, #photo4{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 960px)
{
    #photo3-4{flex-direction: column;}
}
.basgauche, .basdroite{
    width: 100%;
    height: auto;
}
.p3{
    position: absolute;
    top: auto;
    margin-bottom: 50px;
    
}
.p4{
    position: absolute;
    top: auto;
    margin-bottom: 50px;
    
}
.sous3, .sous4{
    position: absolute;
    bottom: 40%;
    
}
.cadre3, .cadre4{
    position: absolute;
}
@media all and (max-width: 960px)
{
    .cadre3, .cadre4{width: 30%;
                    height: 45%;}
    .sous3{margin: 0px;}
}
article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    margin: 0px 0px 40px 0px;
    width: auto; 

}
@media all and (max-width: 960px)
{
    article{align-items: center;
            margin: 0px 0px 20px 0px;
            padding: 0px;}
}
@media all and (max-width: 1530px)
{
    article{margin: 0px;}
}
#cadrearticle{
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding-top: 40px;
    
}
@media all and (max-width: 1534px)
{
    #cadrearticle{
        width: auto;
    }
}
.points{
    text-align: center;
}
.petit-titre{
    font-size: 23px;
    opacity: 0.4;
    text-align: center;
    
}
.paraghraphe{
    text-align: justify;
    margin: 25px 200px 20px 200px;
    
}
@media all and (max-width: 960px)
{
    .paraghraphe{margin: 15px;}
}
.nom{
    text-align: right;
    margin-right: 200px;
    
}
@media all and (max-width: 960px)
{
    .nom{position: static;
        padding-left: 200px;
        margin-right: 0px;}
}

footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
@media all and (max-width: 960px)
{
    footer{flex-direction: column;
           align-items: center;
           flex-wrap: wrap;}
}
@media all and (max-width: 1530px)
{
    footer{flex-wrap: wrap;}
}
.h1{
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#posts{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    margin-right: 35px;
    
}
.villes{
    width: 120%;
}
@media all and (max-width: 960px)
{
    #posts{width: 50%;
           margin-right: 0%;
           margin-left: 10%;}
}
@media all and (max-width: 1530px)
{
    #post{padding-left: 0px;}
}
#feel{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    margin-left: 60px;
}
#instafeel{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 5%;
}
.photoi{
    width: 30%;
}
@media all and (max-width: 960px)
{
    #feel{width: 40%;
          margin-left: 0%;}
    #instafeel{width: 100%;}
    .photoi{width: 30%;}
}
@media all and (max-width: 1530px)
{
    #feel{width: 40%;
        margin-left: }
    #instafeel{width: 80%;}
    .photoi{width: 30%;}
}
#tweets{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%; 
    box-sizing: border-box;
}
@media all and (max-width: 960px)
{
    #tweets{padding-left: 0px;
            width: 290px;}
}
.ul{
    list-style-type: none;
    padding-left: 3px;
    padding-top:15px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 0px;

}
#sub{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    padding-left: 30px;
    box-sizing: border-box;
}
.phrase{
    text-align: left;
    width: 350px;
    word-wrap: break-word;
}
@media all and (max-width: 960px)
{
    #sub{padding-right: 0px;
         padding-left: 0px;
         width: 290px;}
    .phrase{width: auto;
            padding-top: 0px;}
}
.fleche{
    margin-left: 60%;
    height: 16px;
    width: 24px;
}
.email{
    position: relative;
    border: 2px black solid;
    width: 330px;
    padding: 10px;
}
@media all and (max-width: 960px)
{
    .fleche{position: absolute;
            margin-left: 50%;}
    .email{width: auto;}
}
strong{
    font-weight: bold;
}